/01 - aula operadores/nbproject/private/
/01 - aula operadores/build/
/01 - aula operadores/dist/
/exercicios/nbproject/private/
/exercicios/build/
/JavaApplication4/nbproject/private/
/exercicios 2/nbproject/private/
/exercicios 2/build/
/exercicios 03/nbproject/private/
/exercicios 03/build/
/exercicio 4/nbproject/private/
/exercicio 4/build/
/exercicios 05/nbproject/private/
/exercicios 05/build/
/exercicio 06/nbproject/private/
/exercicio 06/build/
